.admin-container{
    display: flex;
    .admin-sidebar{
        .pro-sidebar{
            height: 100vh !important;
        }
        .sidebar-button{
            border-radius: 20px;
            height: 35px;
            padding: 0 15px;
            font-size: 14px;
            background-color: #2b2b2b;
            color:#adadad;
            border: 1px solid #2b2b2b;
        &:hover{
            background-color: #444444;
        }
        }
    }
}

